#pixelPainter {
  background: url(https://s-media-cache-ak0.pinimg.com/736x/ae/01/87/ae0187e9049aa63c0a9e0a0953e14e98.jpg) center center no-repeat;
  background-size: 900px 900px;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  min-width: 1440px;
  padding: 100px;
}

#ppcanvas {
  margin: auto;
  width: 100%;
  position: relative;
  left: 392px;
  top: 70px;

}

#ppcolors {
  vertical-align: top;
  width: 25%;

}

.pixel {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: .25px dotted gray;
}

.colors {
  width: 52px;
  height: 50px;
  border: .25px solid;
  display: inline-block;
}

button {
  color: black;
  background-color: ffffff;
  border: 2px solid black;
  padding: 5px;
  font-size: 24px;

}

.button {
margin-top: 5px;
}

#load {
  margin-left: 5px;
}

#clear {
  margin-left: 5px;
}

#erase {
  margin-left: 5px;
}